@model HandMaster_Models.OrderHeader

<div class="text-center">
    @if (Model != null)
    {
        <h1 class="text-info">Заказ создан</h1>
        <p> Заказ @Model.Id был успешно создан</p>
    }
    else
    {
        <h1 class="text-info">Подтверждение заказа</h1>
        <p>Вы сделали заказ.</p>
    }
</div>